body{
    margin: 0;
    background-color:rgb(0, 0, 0)
}


header h1{
    font-size: 4rem;
    text-shadow: 3px 5px 5px rgb(0, 0, 5);
    text-align: center;
    color: orangered;
    
}
.texto {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    


}

* {
    font-family: "Tapestry", sans-serif;
    font-size: 16px;
    color: orangered;
   
}

a:link{
    color: orangered;
}
a:visited {
    color: rgb(253, 2, 2);

}

a:hover{
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(255, 0, 85);
}

.formula {
    margin-right: 0%;
    text-align: left
}

.cosas{ 
    text-align: center;
    

}
.cosas a{
    font-size: 24px;
}

section article{
    transition: box-shadow 0.3s ease;    
    background-color: rgb(0, 0, 0);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article h2, section article p{
    padding: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);


}

footer{
    background-color: rgba(0, 0, 0, 0.979);
    margin-block-end: auto;
}

footer p{
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: rgb(231, 90, 8);
    text-decoration: none;
}
    
footer a:hover{
    color: aqua;
}






/* para centrar
    text-align: center;
    width: 200px;
    margin: 0 auto; */